/* ----------- FONTS ---------- */
@font-face {
    font-family: "Open Sans";
    src: url("./assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
    font-family: "Josefin Sans";
    src: url("./assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
}

/* ----------- GENERAL --------- */

:root {
    --primary-color: #040036;
    --secondary-color: #ed8824;
    --text-color: #535353;
    --primary-font-family: "Open Sans";
    --secondary-font-family: "Josefin Sans";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.btn {
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    background-color: var(--secondary-color);
    padding: 1.5rem 2rem;
    border-radius: 1.5rem;
    color: white;
    text-transform: uppercase;
    font-family: var(--secondary-font-family);
}

h2 {
    font-family: var(--secondary-font-family);
    font-weight: 800;
    font-size: 2rem;
    line-height: 1.5;
    color: var(--primary-color);
    text-transform: uppercase;
}

.wrapper {
    width: max(1200px, 80%);
    margin: auto;
}

.dark-theme {
    background-color: var(--primary-color);
    color: white;
}

h3 {
    font-family: var(--primary-font-family);
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.4;
    text-align: center;
}

/* --------- HEADER -------- */

.flex-wrapper {
    display: flex;
}

header {
    background-color: var(--primary-color);
    font-family: var(--secondary-font-family);
    font-family: 700;
    color: white;
    text-wrap-mode: nowrap;
}

header * {
    color: inherit;
    font: inherit;
    text-transform: uppercase;
}

header>div {
    margin: auto;
}

nav li {
    padding: 3rem 0.5rem;
}

header div.flex-wrapper {
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

header ul.flex-wrapper {
    justify-content: space-between;
    gap: 2rem;
}

header .telephone-num {
    font-size: 1.5rem;
}

/* --------- HERO ---------- */

.hero {
    background:
        linear-gradient(rgb(4, 0, 54, 0.7), rgba(4, 0, 54, 0)),
        url("./assets/img/hero-bg.png");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 8rem;
    color: white;
    border-bottom: 10px var(--secondary-color) solid;
}

.hero .flex-wrapper {
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: var(--secondary-font-family);
    text-align: center;
    padding-top: 12rem;
    font-size: 4rem;
    line-height: 1.1;
    font-weight: 800;
    text-transform: uppercase;
}

.hero p {
    text-align: center;
    font-family: var(--primary-font-family);
    font-size: 1.5rem;
    line-height: 1.1;
    font-weight: 800;
    padding-top: 0.75rem;
}

.hero .btn {
    margin-top: 5rem;
    text-shadow: none;
}

/* ------------ ABOUT ----------- */

.about p {
    font-family: var(--primary-font-family);
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 400;
    color: var(--text-color);
    max-width: 75ch;
    padding-bottom: 2rem;
}

.about .wrapper {
    padding-top: 4rem;
}

.about img {
    width: 70%;
    display: block;
    margin: 3rem 0;
    border-radius: 5px;
    background: red;
}

/* --------- SERVICES --------- */

.services * {
    color: white;
    text-align: center;
}

.services__introduction {
    font-family: var(--primary-font-family);
    font-weight: 400;
    font-size: 1.2rem;
    width: 50%;
    margin: auto;
    padding: 2rem 0;
}

.services .main {
    flex-direction: column;
    font-family: var(--primary-font-family);
}

.services h3 {
    padding-top: 5rem;
    padding-bottom: 1rem;
}

.services h4 {
    font-family: var(--secondary-font-family);
    font-weight: 800;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding: 10rem 0;
    background-size: cover;
    background-position: center;
}

.clim h4 {
    background-image: url("./assets/img/services-cooling.png");
}

.heat h4 {
    background-image: url("./assets/img/services-heating.png");
}

.services .main * {
    width: 100%;
    border-radius: 1.5rem;
}

.services>.wrapper>.flex-wrapper {
    justify-content: center;
    gap: 1rem;
}

.services__item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    text-align: left;
    text-transform: uppercase;
    font-size: 1.2rem;

    background-color: #fff;
    color: var(--primary-color);

    padding: 1rem 3rem 1rem 1.5rem;
}

.services .flex-wrapper.main {
    gap: 1rem;
    flex: 1;
}

.services__item a::before {
    content: "";
    display: inline-block;
    aspect-ratio: 1;
    background-color: var(--primary-color);
    mask-size: contain;
    mask-size: no-repeat;
    padding: 2rem;
    margin-right: 2rem;
}

.clim__services a::before {
    mask-image: url("/assets/img/snowflake-svgrepo-com.svg");
}

.heat__services a::before {
    mask-image: url("./assets/img/flame-svgrepo-com.svg");
}

.services__cta {
    font-family: var(--primary-font-family);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5;

    padding: 3rem 0;
}

.services__cta span {
    display: block;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.services__cta .btn {
    font-weight: 600;
}

/* ------ INSTALLATION -------*/

.installation p {
    font-family: var(--primary-font-family);
    font-size: 1.2rem;
    line-height: 1.5;
    padding-bottom: 2rem;
}

.installation .flex-wrapper {
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 3rem;
    margin: auto;
}

.installation__image {
    display: block;
    border-radius: 1.5rem;
    width: 100%;
}

.installation .img-container {
    width: 300%;
}
